*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Nunito', sans-serif;
    background-color: #ffedf6;
    transition: all 0.5s ease;
        
}
.container{
    scroll-snap-type: y mandatory;
}
section{
    scroll-snap-align:center;
}
.bg-active-one{
    background-color: rgb(176, 246, 255);
}
.bg-active-two{
    background-color: rgb(176, 255, 215);
}
.header, .body .stay, .body .shopping, .footer{
    scroll-snap-align: center;
}
/*header*/

.nav{
    justify-content: space-between;
    display: flex;
    list-style: none;
}
.nav .menu{
    display: flex;
    list-style: none;
}
.nav ul{
    display: flex;
    list-style: none;
    height: 45px;
    line-height: 45px;
    margin: 10px 0px;
}
.nav ul li a{
    text-decoration: none;
    padding: 0px 24px;
    color: black;
}
.nav .homepage{
    text-decoration: none;
    padding: 0px 24px;
    height: 45px;
    line-height: 45px;
    color:#ffa4d1;
    margin-left: 15px;
    margin: 10px 0px;
}
.nav .menu .search-btn {
    height: 45px;
    line-height: 45px;
    padding-right: 24px;
    padding-left: 24px;
    margin: 10px 15px 10px 0px;
    color: #ffa4d1;
    cursor: pointer;
    
}
.search-input{
    margin: 10px 0;
    font-size: 110%;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #ffa4d1;
    padding-left: 8px;
    outline: none;
}
.nav{
    box-shadow: 1px 0px 7px #ffa4d1;
    position: fixed;
    background: white;
    width: 100%;
    z-index: 2;
}
.nav .menu .search-btn:hover{
    background: #ffa4d1;
    opacity: 100%;
    color: #fff;
}
.nav .menu ul li:hover {
    background: #ffa4d1;   
}
.nav .menu ul li:hover a{
    color: #ffffff;
}
.nav .homepage:hover {
    background:#ffa4d1;
    
}
.nav .homepage:hover h1{
    color:white;
}
.header .hanoi-img {
    width: 1500px;
    display: block;
    margin: 0 auto;
}

/*body*/
.body{
    max-width: 1500px;
    display: block;
    margin: 50px auto;
    position: static;
}

/*stay*/
.body >.stay >h2{
    padding-bottom: 10px;
    color: #ffa4d1;
}
.body >.stay >.stay-title{
    padding-top: 8px;
    font-size: 110%;
}
.stay .stay-menu{
    margin:20px 0;
}
.stay .stay-menu .line1, .stay .stay-menu .line2{
    display: flex;
    list-style: none;
    position: relative;
}
.stay .stay-menu .line1 .hotel1{
    margin-right: 6px;
}
.stay .stay-menu .line1 .hotel4{
    margin-left: 6px;
}
.stay .stay-menu .line1 .hotel2, .stay .stay-menu .line1 .hotel3{
    margin: 0 6px;
}
.stay .stay-menu .line2 .hotel1{
    margin-right: 6px;
}
.stay .stay-menu .line2 .hotel4{
    margin-left: 6px;
}
.stay .stay-menu .line2 .hotel2, .stay .stay-menu .line2 .hotel3{
    margin: 0 6px;
}
.hotel-name{
    position: absolute;
    top: 0px;
    padding: 8px 16px;
    display:block;
    color: #ffffff;
    background: #ffa4d1;
}
.hotel-name:hover{
    box-shadow: 0 0 4px #70495d;
    transition-duration: 200ms;
}

/*shopping*/
.body .shopping .shopping-menu{
    margin-top: 20px;
}
.body .shopping h2{
    color: #ffa4d1;
    padding-bottom: 10px;
}
.body >.shopping >.shopping-title{
    padding-top: 8px;
    font-size: 110%;
}
.shopping .shopping-menu ul{
    display: flex;
    list-style: none;
}
.shopping .shopping-menu ul a{
    text-decoration: none;
    border-radius: 5%;
    background-color: #fff;
}
.shopping .shopping-menu ul a img{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.shopping .shopping-menu ul a:hover{
    box-shadow: 0 0 5px #70495d;
    opacity: 0.7;
    transition-duration: 200ms;

}
.shopping .shopping-menu ul .shopping-mall1{
    margin-right: 6px;
}
.shopping .shopping-menu ul .shopping-mall4{
    margin-left: 6px;
}
.shopping .shopping-menu ul .shopping-mall2, .shopping .shopping-menu ul .shopping-mall3{
    margin: 0 6px;
}
.shopping-menu ul a h4{
    color: #ffa4d1;
    margin-top: 5px;
    margin-left: 3px;
}
.shopping-menu ul a .shopping-mall-title{
    font-size: 110%;
    margin: 15px 3px;
}

/*footer*/

.footer{
    max-width: 800px;
    margin-left: auto; margin-right: auto;
    margin-top: 80px;
}
.footer .contact{
    text-align: center;
    margin-bottom: 50px;
}
.footer .contact h2 {
    margin-bottom: 10px;
    color: #ffa4d1;
}
.footer .contact-box {
    float:none;
}
.contact-box ul{
    display: flex;
    list-style: none;
}
.contact-box .name-email .name .name-style, .contact-box .name-email .email .email-style{
    width: 390px;
    height: 45px;
    font-size: 100%;
    border: 1px solid #ff4da6;
    padding-left: 15px;
}
.contact-box .name-email .name .name-style{
    margin-right: 5px;
    outline: none;
}
.contact-box .name-email .email .email-style{
    margin-left: 10px;
    outline: none;
}
.message-style {
    width: 795px;
    height: 45px;
    font-size: 100%;
    border: 1px solid #ff4da6;
    padding-left: 15px;
    margin-top: 10px;
    outline: none;
}.contact-box .send{
    padding: 7px 20px;
    color: #fff;
    background-color: #ffa4d1;
    width: 80px;
    text-align: center;
    margin-top: 20px;
    float: right;
    margin-right: 4px;
    font-weight: bold;
    cursor: pointer;
}
.contact-box .send:hover{
    box-shadow: 0 0 5px #70495d;
}
.footer .logo .logo-style a img {
    height: 25px;
    padding: 0 5px;
}
.footer .logo .logo-style{
    margin-top: 100px;
    text-align: center;
    padding-bottom: 50px;
}